{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}

{% block body %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row justify-content-center g-4">
            <h1> <a href="{{ path('app_evaluation_add')}}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Ajouter Evaluation<i class="fa fa-arrow-right ms-3"></i></a></h1>
            {% for a in list %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">{{ a.titre }}</h5>
                        <div class="d-flex justify-content-center mb-4">
                            <a href="{{ path('app_evaluationEModifier', {'id': a.id}) }}" class="btn btn-sm btn-primary px-3 me-2" style="border-radius: 30px;">Modifier</a>
                            <a href="{{ path('app_evaluationEdelete', {'id': a.id}) }}" class="btn btn-sm btn-primary px-3 me-2" style="border-radius: 30px;">Supprimer</a>
                            <a href="{{ path('app_questions_for_evaluation', {'evaluationId': a.id}) }}" class="btn btn-sm btn-primary px-3" style="border-radius: 30px;">Question</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
