{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center mt-5 mb-3"> Event Manager</h2>
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-primary" href="{{ path('event_new') }}"> 
                Create New Event 
            </a> 
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Event Date </th>
                    <th width="240px">Action</th>
                </tr>
                {% for event in events %}
                <tr>
                                      
                    <td>{{ event.getEventName() }}</td>
                      </div>
                      
                    <td>{{ event.getDescription() }}</td>
                    <td>{{ event.getCreatedAt()|date('Y-m-d') }}}</td>
                    <td>
                        <form method="post" action="{{ path('event_delete', {'id': event.getId()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <a
                                class="btn btn-outline-info"
                                href="{{ path('event_show', {'id': event.getId()}) }}">
                                Show
                            </a>
                            <a
                                class="btn btn-outline-success"
                                href="{{ path('event_edit', {'id': event.getId()}) }}">
                                Edit
                            </a>

                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.getId()) }}">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="C8UzOqqF"></script>

{% endblock %}
