<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Mon Profil
                                                        
                                            
                                
                    
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link href="/css_yassine/myProfile.css" rel="stylesheet">
        <link rel="stylesheet" href="/css_yassine/dashboard.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <style>
        .hm:focus {
            outline: none;
            border-color: rgb(251, 251, 251);
            box-shadow: 0 0 0 0.15rem rgba(167, 1, 1, 0.5);
        }
        .myList {
            color : black;
        }
        .myList:hover {
            color : red;  
        }
        .text-link:hover {
            border-bottom : 2px solid red;
        }

    </style>
    </head>
    <body>
        <nav>
            <div class="logo-name">
                <div class="logo-image">
                {% if is_granted('ROLE_CLUB') or is_granted('ROLE_TEACHER') or is_granted('ROLE_STUDENT') %}
                    {% if user.getProfilPicture() is not null %}
                        <img
                    id="m3alem1" data-base-path-ouch="{{ path('get_profile_picture', {'nomFile': 'PLACEHOLDER'}) }}" src="{{ path('get_profile_picture', {'nomFile': user.getProfilPicture()}) }}" style="width: 50px; max-width: 50px;height: 50px; max-height: 50px;" alt="errorLoading">
                        {% else %}
                        <img id="m3alem1" data-base-path-ouch="{{ path('get_profile_picture', {'nomFile': 'PLACEHOLDER'}) }}" src="{{ asset('/images/profile.png') }}" style="width: 50px; max-width: 50px;height: 50px; max-height: 50px;" alt="errorDefault">
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_ENTREPRISE')%}
                        <img src="{{ asset('/images/default-entr.jpg') }}"  style="width: 50px; max-width: 50px;height: 50px; max-height: 50px;" alt="errorDefault">
                {% endif %}
                </div>
                <span class="logo_name" style="margin-left : 10px;">
                    {{ user.getNom() }}
                </span>
            </div>
            <div class="menu-items">
                <ul class="nav-links" style="margin-bottom : 320px;">
                    <li>
                        <a href="#">
                            <i class="uil uil-user" style="color : #b5391d;"></i>
                            <span class="link-name" style="color : #b5391d;">
                                Profil
                                                                                                                            
                                                                                            
                                                            
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="uil uil-bell"></i>
                            <span class="link-name">
                                Notifications
                                                                                                                            
                                                                                            
                                                            
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('changePasswordUser') }}">
                            <i class="uil uil-key-skeleton"></i>
                            <span class="link-name">
                                Mot de passe
                                                                                                                            
                                                                                            
                                                            
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('Home') }}">
                            <i class="uil uil-estate"></i>
                            <span class="link-name">
                                Accueil
                                                                                                                            
                                                                                            
                                                            
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="logout-mode">
                    <li>
                        <a href="#" id="logoutLink">
                            <i class="uil uil-signout"></i>
                            <span class="link-name">
                                Se déconnecter
                            </span>
                            <form id="logoutForm" action="{{ path('logout') }}" method="post" style="display: none;"></form>
                        </a>
                    </li>
                    <li class="mode">
                        <a href="#">
                            <i class="uil uil-moon"></i>
                            <span class="link-name">
                                Mode sombre
                            </span>
                        </a>
                        <div class="mode-toggle">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="dashboard">
            <div class="top">
                <i class="uil uil-bars sidebar-toggle"></i>
            </div>
            <div class="dash-content">
                <div class="overview">
                    <div class="title" style="margin-top : 10px;margin-bottom : 20px;">
                        <i class="uil uil-user"></i>
                        <span class="text">
                            Informations du profil                
                        </span>
                    </div>
                <div class="title" style="margin-top : 10px;margin-bottom : 10px;">
                        <span><a href="{{ path('visitProfile', {'id' : user.getId()} )}}" class="text" style="margin-left : 0px;"><span><i class="uil uil-eye bg-secondary"></i></span></span><small class="ms-2">Mode visiteur</small></span></a></span>
                </div>
                    <div class="hedhiya">
                        <div class="container" style="margin-top: 20px;">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-7">
                                    <div class="card p-3 py-4 shadow">
                                        {% if is_granted('ROLE_CLUB') or is_granted('ROLE_TEACHER') or is_granted('ROLE_STUDENT') %}
                                            <div id ="meHaaha" style="margin-left : 260px;">
                                                {% if user.getProfilPicture() is not null %}
                                                    <button type="button" class="noth" id="oldButton" style="margin-left : 160px;border: none; background-color: white; cursor: pointer; vertical-align: top;">
                                                        <a href="{{ path ('profile_delete_picture') }}">
                                                            <i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i>
                                                        </a>
                                                    </button>
                                                {% endif %}
                                            </div>
                                            <div class="text-center">
                                                <!-- The form tag is required for file upload. The action URL is modified to point to the update route. -->
                                                <form method="post" enctype="multipart/form-data">
                                                    <div class="btn-container">
                                                        <div class="field btn">
                                                            <input type="file" id="profilePhoto" name="profil_picture" style="display: none;" accept="image/*" hidden>
                                                            <button type="button" class="mouraba3" style="color: white;" onclick="document.getElementById('profilePhoto').click();">
                                                                <div class="hov rounded-circle border border-danger border-4">
                                                                    {% if user.getProfilPicture() is not null %}
                                                                        <img
                                                                    id="m3alem2" data-base-path="{{ path('get_profile_picture', {'nomFile': 'PLACEHOLDER'}) }}" src="{{ path('get_profile_picture', {'nomFile': user.getProfilPicture()}) }}" style="width: 150px; max-width: 150px;height: 150px; max-height: 150px;" alt="errorLoading">
                                                                        {% else %}
                                                                        <img id="m3alem2" data-base-path="{{ path('get_profile_picture', {'nomFile': 'PLACEHOLDER'}) }}" src="{{ asset('/images/profile.png') }}" style="width: 150px; max-width: 150px;height: 150px; max-height: 150px;" alt="errorDefault">
                                                                    {% endif %}
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        {% endif %}
                                        {% if is_granted('ROLE_ENTREPRISE')%}
                                        <div class="text-center">
                                            <div class="btn-container">
                                                <div class="field btn">
                                                    <img class="rounded-circle border border-danger border-4" src="{{ asset('/images/default-entr.jpg') }}" style="width: 150px; max-width: 150px;height: 150px; max-height: 150px;" alt="errorDefault">
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="text-center mt-3">
                                                {% if is_granted('ROLE_ENTREPRISE')%}
                                                    <span class="bg-secondary p-1 px-4 rounded text-white">
                                                        Entreprise
                                                    </span>
                                                {% elseif is_granted('ROLE_TEACHER')%}
                                                    <span class="bg-danger p-1 px-4 rounded text-white">
                                                        Enseignant
                                                    </span>
                                                {% elseif is_granted('ROLE_STUDENT')%}
                                                    <span class="bg-secondary-subtle p-1 px-4 rounded text-black">
                                                        Etudiant
                                                    </span>
                                                {% elseif is_granted('ROLE_CLUB')%}
                                                    <span class="bg-dark p-1 px-4 rounded text-white">
                                                        Club RH
                                                    </span>
                                                {% endif %}
                                            <br>
                                            <span class="header text-danger">
                                                <span class="h3 mt-2 mb-2">
                                                    {{ user.getNom() }}
                                                </span>
                                                {% if not is_granted('ROLE_ENTREPRISE')%}
                                                <span>
                                                    &nbsp;
                                                </span>
                                                <span class="h3 mt-2 mb-2">
                                                    {{ user.getPrenom() }}
                                                </span>
                                            </span>
                                            <br>
                                            <div style="display: inline-block; margin-top: 10px; margin-bottom: 10px;">
                                                {% if not is_granted('ROLE_TEACHER')%}
                                                <span>
                                                    <i class="fa-solid fa-chart-line" style="color: #fd0d0d;"></i>
                                                </span>
                                                <span style="padding-right : 10px;padding-left : 5px; border-right : solid 2px black;">
                                                    Niveau :                                                                                 
                                                    {{ user.getNiveau() }}
                                                </span>
                                                <span style="padding-left : 10px;">
                                                    <i class="fa-solid fa-person-shelter" style="color: #fd0d0d;"></i>
                                                </span>
                                                <span>
                                                    Classe :
                                                    &nbsp;{{ user.getClasse() }}                                     
                                                </span>
                                                {% endif %}
                                                <br>
                                                <div>
                                                    <span>
                                                        <i class="fa-solid fa-cake-candles fa-lg" style="color: #fd0d0d;"></i>
                                                    </span>
                                                    <span style="padding-right : 10px;padding-left : 5px; border-right : solid 2px black;">
                                                        Date Naissance :                                                                                    
                                                        {{ user.getDateNaissance()|date('d-m-Y') }}
                                                    </span>
                                                    {% if user.getGenre() == 'male' %}
                                                        <span style="padding-left : 10px;">
                                                            <i class="fa-solid fa-mars fa-lg" style="color: #fd0d0d;"></i>
                                                        </span>
                                                        <span>
                                                            &nbsp;Homme                                     
                                                        </span>
                                                    {% endif %}
                                                    {% if user.getGenre() == 'female' %}
                                                        <span style="padding-left : 10px;">
                                                            <i class="fa-solid fa-venus fa-lg" style="color: #fd0d0d;"></i>
                                                        </span>
                                                        <span>
                                                            &nbsp;Femme                                           
                                                        </span>
                                                    {% endif %}
                                                </div>
                                                <div class="pt-2">
                                                    <span>
                                                        <i class="fa-solid fa-envelope fa-lg" style="color: #fd0d0d;"></i>
                                                    </span>
                                                    <span style="padding-left : 5px;">
                                                        Email :                                         
                                                        {{ user.getEmail() }}
                                                    </span>
                                                </div>
                                            </div>
                                            {% else %}
                                            </span>
                                            <br>
                                            <div style="display: inline-block; margin-top: 10px; margin-bottom: 10px;">
                                                <span>
                                                    <i class="fa-solid fa-earth-americas" style="color: #fd0d0d;"></i>
                                                </span>
                                                <span style="padding-right : 10px;padding-left : 5px; border-right : solid 2px black;">
                                                    Pays :                                                                                    
                                                    {{ user.getPays() }}
                                                </span>
                                                    <span style="padding-left : 10px;">
                                                        <i class="fa-solid fa-location-crosshairs" style="color: #fd0d0d;"></i>
                                                    </span>
                                                    <span>
                                                        Localisation :
                                                        {{ user.getLocalisation() }}                                 
                                                    </span>
                                                    <div class="pt-2">
                                                        <span>
                                                            <i class="fa-solid fa-globe" style="color: #fd0d0d;"></i>
                                                        </span>
                                                        <span style="padding-left : 5px;">
                                                            Site web :                                         
                                                            {{ user.getWebsite() }}
                                                        </span>
                                                    </div>
                                                    <div class="pt-2">
                                                        <span>
                                                            <i class="fa-solid fa-envelope fa-lg" style="color: #fd0d0d;"></i>
                                                        </span>
                                                        <span style="padding-left : 5px;">
                                                            Email :                                         
                                                            {{ user.getEmail() }}
                                                        </span>
                                                    </div>
                                            </div>
                                        {% endif %}
                                        <br>
                                            <div style="display: inline-block; margin-top: 10px; margin-bottom: 10px;">
                                                <span class="followersList">
                                                    <a class="myList" data-bs-toggle="offcanvas" href="#followersOffcanvas" role="button" aria-controls="followersOffcanvas">
                                                        <span class="text-link">
                                                            Suivi par : &nbsp;
                                                            {{ user.getFollowers()|length }}
                                                        </span>
                                                        <span>
                                                            <i class="fa-solid fa-users" style="padding-right : 10px; padding-left : 5px; border-right: solid 2px black;"></i>
                                                        </span>
                                                    </a>

                                                    <div class="offcanvas offcanvas-start" tabindex="-1" id="followersOffcanvas" aria-labelledby="followersOffcanvasLabel">
                                                        <div class="offcanvas-header">
                                                            <h4 class="offcanvas-title text-danger" id="followersOffcanvasLabel">Utilisateurs qui vous suivent</h4>
                                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                        </div>
                                                        <div class="offcanvas-body">
                                                            <select class="form-select p-2" id="followerFilter" aria-label="Default select example">
                                                                <option selected>Tous</option>
                                                                <option value="TEACHER">Enseignant</option>
                                                                <option value="STUDENT">Etudiant</option>
                                                                <option value="CLUB">Club RH</option>
                                                                <option value="ENTREPRISE">Entreprise</option>
                                                            </select>
                                                            <ul id="followerList" style="list-style-type: none; padding-top: 30px; padding-left: 0px;">
                                                                {% for follower in user.getFollowers() %}
                                                                <li data-role="{{ follower.getRole().value }}">
                                                                    <a class="myList" href="{{ path('visitProfile', {'id': follower.getId()}) }}">
                                                                        <p class="text-link">{{ follower.getPrenom() }} {{ follower.getNom() }}</p>
                                                                    </a>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </span>
                                                <span class="followingList">
                                                    <a class="myList" data-bs-toggle="offcanvas" href="#followingOffcanvas" role="button" aria-controls="followingOffcanvas">
                                                        <span class="text-link">
                                                            &nbsp; Suivre : &nbsp;
                                                            {{ user.getFollowing()|length }}
                                                        </span>
                                                        <span>
                                                            <i class="fa-solid fa-users" style="padding-right : 10px; padding-left : 5px;"></i>
                                                        </span>
                                                    </a>

                                                    <div class="offcanvas offcanvas-start" tabindex="-1" id="followingOffcanvas" aria-labelledby="followingOffcanvasLabel">
                                                        <div class="offcanvas-header">
                                                            <h4 class="offcanvas-title text-danger" id="followingOffcanvasLabel">Utilisateurs que vous suivez</h4>
                                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                        </div>
                                                        <div class="offcanvas-body">
                                                            <select class="form-select p-2" id="followingFilter" aria-label="Default select example">
                                                                <option selected>Tous</option>
                                                                <option value="TEACHER">Enseignant</option>
                                                                <option value="STUDENT">Etudiant</option>
                                                                <option value="CLUB">Club RH</option>
                                                                <option value="ENTREPRISE">Entreprise</option>
                                                            </select>
                                                            <ul id="followingList" style="list-style-type: none; padding-top: 30px; padding-left: 0px;">
                                                                {% for following in user.getFollowing() %}
                                                                <li data-role="{{ following.getRole().value }}">
                                                                    <a class="myList" href="{{ path('visitProfile', {'id': following.getId()}) }}">
                                                                        <p class="text-link">{{ following.getPrenom() }} {{ following.getNom() }}</p>
                                                                    </a>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <script>
        document.getElementById('profilePhoto').addEventListener('change', function() {
            var file = this.files[0];
            if (file) {
                var formData = new FormData();
                formData.append('profil_picture', file);

                fetch('/profile/update-picture', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        var imgElementBig = document.getElementById('m3alem2');
                        var basePathBig = imgElementBig.getAttribute('data-base-path').replace('PLACEHOLDER', data.fileName);
                        imgElementBig.src = basePathBig;

                        var imgElementLittle = document.getElementById('m3alem1');
                        var basePathLittle = imgElementLittle.getAttribute('data-base-path-ouch').replace('PLACEHOLDER', data.fileName);
                        imgElementLittle.src = basePathLittle;

                        let deleteButton = document.getElementById('delete-btn1');
                        if (!deleteButton) {
                            deleteButton = document.createElement("button");
                            deleteButton.id = 'delete-btn1';
                            deleteButton.type = 'button';
                            deleteButton.style.cssText = 'margin-left: 160px; border: none; background-color: white; cursor: pointer; vertical-align: top;';
                            deleteButton.innerHTML = '<a href="{{ path ('profile_delete_picture') }}"><i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i></a>';
                            deleteButton.classList.remove('d-none');

                            // Append where it needs to go
                            const container = document.getElementById('meHaaha');
                            //document.getElementById('oldButton').classList.add('d-none');
                            container.appendChild(deleteButton);
                        }
                    } else {
                        alert('Erreur: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Erreur lors denvoi de request :', error);
                });
            }
        });         

        document.getElementById('logoutLink').addEventListener('click', function(event) {
            event.preventDefault(); // Stop the link from causing a page navigate
            document.getElementById('logoutForm').submit(); // Submit the invisible form
        });

        
        document.addEventListener("DOMContentLoaded", function() {
            const followerFilter = document.getElementById('followerFilter');
            const followingFilter = document.getElementById('followingFilter');
        
            followerFilter.addEventListener('change', function() {
                filterList('followerList', this.value);
            });
        
            followingFilter.addEventListener('change', function() {
                filterList('followingList', this.value);
            });
        
            function filterList(listId, role) {
                const list = document.getElementById(listId);
                const items = list.querySelectorAll('li');
        
                items.forEach(item => {
                    if (role === 'Tous' || item.getAttribute('data-role') === role) {
                        item.style.display = ''; // Show
                    } else {
                        item.style.display = 'none'; // Hide
                    }
                });
            }
        });
        </script>
        <script src="/js/dashboard.js"></script>
    </body>
</html>
