{% extends 'base.html.twig' %}

{% block title %}Les Offres Disponibles {% endblock %}

{% block body %}
    <h1>Les Offres Disponibles</h1>

    <form id="search-form" action="{{ path('search_offres') }}" method="post">
        <input type="text" id="search-term" name="search" placeholder="Rechercher par titre ou description">
        <button type="submit">Rechercher</button>
    </form>

    <div id="search-results">
        {% if offres is not empty %}
            <h2>Résultats de la recherche</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Competences</th>
                        <th>Nbr</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for offre in offres %}
                        <tr>
                            <td>{{ offre.titre }}</td>
                            <td>{{ offre.description }}</td>
                            <td>{{ offre.competences }}</td>
                            <td>{{ offre.nbr }}</td>
                            <td>{{ offre.date ? offre.date|date('Y-m-d') : '' }}</td>
                            <td>
                                <a href="{{ path('app_candidature_new', {'offre_id': offre.id}) }}" class="btn btn-outline-primary">Add Candidature</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun résultat trouvé.</p>
        {% endif %}
    </div>

{% endblock %}
