<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Tauri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/cssProject/HomeProject.css">

    <title>Home Teacher</title>
</head>
<body>
<div class="parent-container">
    <div class="center-container main-container">
        <div class="fixed-elements">
            <form id="filterForm" method="GET" action="/home-teacher">
                <select id="classeSelect" name="classe">
                    <option value="" selected>Toutes les classes</option>
                    {% for classe in classes %}
                        <option value="{{ classe }}">{{ classe }}</option>
                    {% endfor %}
                </select>
            </form>
            <div class="space-large"></div>
            <!-- Icône -->
            <img src="/images/Project/106230_add_icon.png" alt="Ajouter" class="icon" onclick="redirectToAddPage()" width="25" height="25"  >
        </div>
        <div class="scroll-container">
            <ul>
                {% for project in projects %}
                    <!-- Chaque projet est placé dans un conteneur de projet -->
                        <div class="project-container" data-id="{{ project.id }}"> <!-- Ajout de la classe du conteneur de projet -->

                            <a href="/modifier-projet/{{ project.id }}">
                                <img src="/images/Project/edit.png" alt="Modifier" class="icon" width="25" height="25">
                            </a>

                            <img src="/images/Project/delete.png" alt="Supprimer" class="icon" width="25" height="25" onclick="onDelete(this)">

                            <p>Nom : {{ project.nom }}</p> <!-- Afficher le nom du projet -->
                            <p>{{ project.description }}</p> <!-- Afficher la description du projet -->
                            <p>Classe : {{ project.classe }}</p>
                            <p>Matière : {{ project.matiere }}</p>
                        </div>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
    function redirectToAddPage() {
        window.location.href = "{{ path('ajouter_projet') }}";
    }

    document.getElementById('classeSelect').addEventListener('change', function() {
        var selectedClass = this.value;
        if (selectedClass !== '') { // Soumettre le formulaire uniquement si une classe est sélectionnée
            document.getElementById('filterForm').submit();
        } else { // Si "Toutes les classes" sont sélectionnées, naviguer vers la page sans paramètres de filtre
            window.location.href = "/home-teacher";
        }
    });
    function onDelete(element) {
        var projectId = element.closest('.project-container').dataset.id;
        if (confirm("Voulez-vous vraiment supprimer ce projet?")) {
            // Envoi d'une requête AJAX pour supprimer le projet
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/delete-project/" + projectId, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error("Erreur lors de la suppression du projet: " + xhr.responseText);
                    }
                }
            };
            xhr.send();
        }
    }
</script>

</body>
</html>